/* accent-color акцент колір - #2196F3 */
/* main-text-color основний колір тексту - #212121 */
/* main-text-color основне сімейство шрифтів */
/* хедер горизонтальний відступ - 50 px */
/* стандартний відступ на body - 30 px */

:root {
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --main-font-family: 'Roboto', 'noto', sans-serif;
  --header-horizontal-gap: 50px;
  --body-gap: 30px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 0;
  margin-bottom: 0;
  /* outline: 2px dotted red; */
  /* remove outline after finishing task */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

body {
  margin: 0; /* перезаписываем margin от браузера */
  font-family: var(--main-font-family);
  background-color: #ffffff;
  color: #212121;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: default;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ------------------------ХЕДЕР------------------------ */

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-content {
  display: flex;
  align-items: center;
}
/* ------------------------ЛОГО ХЕДЕР/ФУТЕР------------------------ */

.logo-header {
  margin-right: 93px;
}

.logo-web {
  color: var(--accent-color);

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-studio,
.logo-studio-footer {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: black;
}

/* ------------------------НАВІГАЦІЯ ХЕДЕР------------------------ */
.site-nav-list {
  display: flex;
  align-items: center;
}

.site-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

/* ------------------------КОНТАКТИ ХЕДЕР------------------------ */

.contacts-header-list {
  display: flex;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
}

.contacts-list:nth-child(1) {
  margin-right: var(--header-horizontal-gap);
}

.contacts-icon-mail,
.contacts-icon-tel {
  margin-right: 10px;
}

.contacts-tel,
.contacts-mail {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

/* .contacts-tel,
.contacts-mail {
  display: inline-flex;
}

.contacts-mail::before {
  content: '';
  width: 16px;
  height: 12px;
  background-image: url('//images/icons-nav.svg#icon-envelope');
}

.contacts-tel::before {
  content: '';
  width: 10px;
  height: 16px;
} */

.contacts-list:hover .contacts-tel,
.contacts-list:hover .contacts-mail,
.contacts-list:hover .contacts-icon-tel,
.contacts-list:hover .contacts-icon-mail {
  color: var(--accent-color);
  fill: var(--accent-color);
  cursor: pointer;
}

/* ------------------------ГЕРОЙ------------------------ */
.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  max-width: 1600px;
  margin: 0 auto;

  padding-top: 200px;
  padding-bottom: 200px;
}

.principles-img {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: var(--body-gap);
}

.hero-content {
  text-align: center;
}

.hero-text {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;

  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  /* margin-left: 700px;
  margin-right: 700px; */

  min-height: 50px;
  min-width: 200px;

  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  color: #ffffff;

  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  border: 1px solid transparent;
}

/* ---------------------ПРИНЦИПИ РОБОТИ--------------------- */

.principles {
  background-color: #fff;
}

.principles-list {
  display: flex;
  gap: 30px;
}

.principles-list-content {
  width: calc((100% - 90px) / 4);
}

.principles-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.principles-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;

  margin-bottom: 10px;
}

/* .principles-title::before {
  display: block;
  content: '';
  background-color: #f5f4fa;
  height: 120px;
  margin-bottom: var(--body-gap);
  border-radius: 4px;
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: center;
}

Зображення не моє бути в спрайті background-image: url не підтягує svg file зі спрайту
.antenna::before {
  background-image: url('../images/antenna\ 1-2.svg');
} */

.principles-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ---------------------ЧИМ МИ ЗАЙМАЄМОСЬ--------------------- */

.work-examples {
  background-color: #fff;
  padding-top: 0;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.work-examples-cards {
  display: flex;
  gap: 30px;
}

.work-examples-item {
  width: calc((100% - 60px) / 3);
}
/* .work-examples-item:not(:last-child) {
  margin-right: var(--body-horizontal-gap);
} */
/* ------------------------НАША КОМАНДА------------------------  */

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  gap: 30px;
}

/* .team-list-item:not(:last-child) {
  margin-right: 30px;
} */

.team-list-item {
  width: calc((100% - 90px) / 4);

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-content {
  background-color: #fff;
  padding-top: 30px;
  margin-bottom: 16px;
  text-align: center;
}

.team-title {
  margin-bottom: 10px;

  color: #212121;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: var(--body-gap);
}

.team-social-link {
  background-color: #fff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: #afb1b8; До способу №1 */
  fill: #afb1b8;
  /* До способу № 3 */
}

/* СПОСІБ №1  */
/* .team-social-link:hover,
.team-social-link:focus {  До способу №1;
  color: #fff;
  background-color: #2196f3;
}
.team-soc-icon {  До способу №1
  fill: currentColor;
} */

/* СПОСІБ №2  */

/* .team-soc-icon {
  fill: #afb1b8;
}

.team-social-link:hover .team-soc-icon,
.team-social-link:focus .team-soc-icon {
  fill: #fff;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #2196f3;
} */

/* СПОСІБ №3 */

.team-social-link:hover,
.team-social-link:focus {
  background-color: #2196f3;
  fill: #fff;
  cursor: pointer;
}

/* ------------------------КЛІЄНТИ------------------------ */

.clients {
  background-color: #fff;
}

.clients-list {
  display: flex;
}

.clients-list-item:not(:last-child) {
  margin-right: var(--body-gap);
}

.clients-wrapper {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* fill: #afb1b8; Варіант 2 */
  color: #afb1b8;
}
/* Варіант 1 */
.clients-wrapper:hover {
  border-color: #2196f3;
  color: #2196f3;
  cursor: pointer;
}

.clients-icon {
  fill: currentColor;
}

/* Варіант 2 */
/* .clients-wrapper:hover {
  border-color: #2196f3;
  fill: #2196f3;
} */

/* Варіант 3 */
/* .clients-icon {
  fill: #afb1b8;
}

.clients-wrapper:hover .clients-icon {
  fill: #2196f3;
}

.clients-wrapper:focus .clients-icon {
  fill: #2196f3;
}

.clients-wrapper:hover,
.clients-wrapper:focus {
  border-color: #2196f3;
} */

/* ------------------------ФІЛЬТР------------------------ */

.gallery {
  background-color: #fff;
}

.filter-btn {
  font-family: var(--main-font-family);
  font-style: normal;
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-item + .filter-item {
  margin-left: 8px;
}

.all {
  min-width: 73px;
}
.website {
  min-width: 128px;
}
.app {
  min-width: 145px;
}
.marketing {
  min-width: 103px;
}
.design {
  min-width: 130px;
}

.filter-btn:hover,
.filter-btn:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  cursor: pointer;
}

/* ------------------------ГАЛЕРЕЯ------------------------ */

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.gallery-item {
  /* width: 370px; */
  width: calc((100% - 60px) / 3);
  /* margin-bottom: 30px; */
}

.gallery-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.gallery-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.gallery-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.gallery-content:hover,
.gallery-item:hover,
.link > img:hover,
.link > img:focus {
  cursor: pointer;
}

.gallery-item:hover,
.gallery-item:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* ------------------------ФУТЕР------------------------ */

footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
}

.address-list-item,
.address-list-item-map {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-list-item-map {
  display: inline-block;
}

.address-list-item-map {
  margin-bottom: 9px;
}

.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
}

.footer-soc-icon-list {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.footer-text {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;

  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: var(--body-gap);
}

.footer-soc-icons {
  margin-left: 70px;
  margin-bottom: 100px;
}

.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #fff;
}

.footer-social-link:hover {
  background-color: var(--accent-color);
  cursor: pointer;
}

.logo-studio-footer {
  color: whitesmoke;
}

.info {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* ------------------------:HOVER :FOCUS------------------------ */

.logo:hover {
  cursor: pointer;
}

.address:hover,
.address:focus,
.logo-header:hover,
.logo-header:focus,
.logo-footer:hover,
.logo-footer:focus,
.site-nav-link:hover,
.site-nav-link:focus,
.info:hover,
.info:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.filter-btn:focus {
  color: #ffffff;
}
